.ContainerVideoPlayer{
    width: 100%;
    height: 100%;
}
.ContainerVideo{
    width: 100%;
    height: 100%;
}

.ContainerIframe{
    width: 100%;
    height: 100%;
}

.VideoIframe{
    width: 100%;
    height: 80vh;
}